DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,monografico-tarea2.vercel.app

# check what environment is the application running, if in development or production
DJANGO_ENVIRONMENT=development

# if running in production set cdn where you put the static files
# when you run python manage.py collectstatic --no-input it 
# generates a folder called staticfiles there you get inside 
# and push all the files inside to the root of the cdn you are 
# about to use and wala you can serve your css files etc.
DJANGO_CDN_URL=yourpseudocdn.vercel.app

# Database
POSTGRESQL_DATABASE_NAME=postgres
POSTGRESQL_DATABASE_USER=postgres.zdnh
POSTGRESQL_DATABASE_PASSWORD=[YOUR-PASSWORD]
POSTGRESQL_DATABASE_HOST=project.pooler.yourpostgresqlhost.com
POSTGRESQL_DATABASE_PORT=6543
